$whiteColor: #FFFFFF;
$lightBlueColor: #2B7AF1;
$reallyBlackColor: #111111;
$redColor: #F73E3E;
$greyColor: rgba(17, 17, 17, 0.5);
$lightOrangeColor: #FCC226;
$greenColor: #5CB85C;
$lightGreyColor: #C4C4C4;
$orangeColor: #FF7D03;






 